<h1> Page for <%= current_user.email %></h1>

<p>List of your tagged pictures:</p>
<% current_user.photos.each do |photo| %>
  <%= image_tag(photo.image.url(:medium)) %>
<% end %>
<br></br>
<%= link_to "Home Page", photos_path %>
